.formControl {
    border-radius: 3px;
}

.unvalid textarea,
.unvalid input {
    border-radius: 3px;
    border: 2px solid red;
    box-shadow: 0 0 4px 3px #ff6666;
}

.error,
.warning {
    display: inline-block;
    margin: 10px 0;
    padding: 2px;
    color: red;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 3px;
    box-shadow: 0 0 4px 3px #ff6666;
}