.pageNumber {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffd650;
    border-radius: 50%;
    margin: 10px 5px 0 5px;
    cursor: pointer;
}

.selected {
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    background-color: red;
    border-radius: 50%;
    margin: 10px 5px 0 5px;
    cursor: pointer;
}

.btn {
    border-radius: 4px;
    background-color: orangered;
    border: none;
    color: white;
    padding: 8px 10px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}